
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
  }
  
  .header h1 {
    color: #61dafb;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a.active {
    border-bottom: 2px solid #61dafb;
  }
  .login-button,
.logout-button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  width: 100px;
}

.login-button:hover,
.logout-button:hover {
  background-color: #21a1f1;
}